body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
    background-color: dimgray;
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 5.2em;
    width: 100%;
    background-color: whitesmoke;
}

/* Background de la habitación del tv */
section {
    height: 47.6em;
    width: 100%;

    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* Footer es la mesa del tv */
footer {
    height: 6.6em;
    width: 100%;
    background-color: goldenrod;
}

/* Frame es la pantalla del tv */
#screen {
    margin-left: 3em;
    width: 65em;
    height: 44em;
    border-radius: .4em;

    border: grey solid 8px;
    /* poner de color negro el borde luego */
}

.basicScreen {
    background-color: black;

}

#remote2 {
    width: 5em;
    height: 21em;

    background-image: url("../img/mando.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.5em;

    background-color: khaki;


}

.button {

    height: 2em;
    width: 2em;
    border-radius: 50%;

    background-color: red;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.canal1 {
    background-image: url("../img/A\ todo\ gas.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.canal2 {
    background-image: url("../img/imagen\ mundo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.canal3 {
    background-color: greenyellow;
}

.canal4 {
    background-color: gold;
}

.canal5 {
    background-color: coral;
}

.canal6 {
    background-color: violet;
}

.canal7 {
    background-color: forestgreen;
}

.canal8 {
    background-color: indianred;
}

.canal9 {
    background-color: orange;
}

.canal10 {
    background-color: yellow;
}

#screenTitle {
    padding-inline: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 90%;
    text-shadow: black 4px 0 10px;
}


#remote {
    width: 10em;
    height: 40em;
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 5em;

    border-radius: 10em;
    background-color: black;
    background: linear-gradient(black, black, rgb(45, 45, 45),
            rgb(45, 45, 45), rgb(45, 45, 45), rgb(31, 31, 31), black, black);
}

#buttonsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;

    height: 8em;
    width: 10em;

    border-radius: 10em;
    padding-top: 3em;

}

.circleButtons {
    border-radius: 90em;
    background-color: red;
    height: 3.2em;
    width: 3.2em;
    border-radius: 50%;
    margin: .5em;

    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.circleButtons:hover {
    transition: 0.2s;
    opacity: .5;
}

.concave:hover {
    transition: 0.2s;
    opacity: .5;
}

.numbers:hover {
    transition: 0.2s;
    opacity: .5;
}


#power {
    background-color: brown;
}

#buttonsCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 8em;
    width: 10em;
    border-radius: 10em;
}

/* Ver si se puede agrandar la letra de los botones canal y vol */
/* .top {
    font-size: 1em;
}

.bottom {
    font-size: 1em;
} */

.concave {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 3.2em;
    width: 3.2em;
    margin: .5em;
    font-size: 1.2em;
    background-color: gray;

    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.down {
    border-radius: 0em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#buttonsBottom {
    margin-top: 2.5em;
    margin: 2.5em 1em 1em 1em;
    width: 8em;
    height: 9em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.numbers {

    height: 2em;
    width: 2em;
    border-radius: 1em;

    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.powerOff {
    background: black;
}

.start {
    background-color: darkolivegreen;
}

/* .img {
    width: auto;
    margin-left: 0px;
    width: 65em;
    height: 44em;
    border-radius: .4em;
    overflow: hidden;
} */