body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
    background-color: dimgray;
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 5.2em;
    width: 100%;
    background-color: whitesmoke;
}

/* TV Room Background*/
section {
    height: 47.6em;
    width: 100vw;

    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer is tv table */
footer {
    height: 6.6em;
    width: 100%;
    background-color: goldenrod;
}

/* Screen is TV display */
#screen {
    margin-left: 3em;
    width: 65em;
    height: 33em;
    border-radius: 0.4em;

    border: grey solid 8px;
    /* then put black color to the border */
}

.basicScreen {
    background-color: black;
}

/* Image channel */
.channel0 {
    background-image: url("../img/imagen\ mundo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.channel1 {
    background-image: url("../img/img1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel2 {
    background-image: url("../img/img2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel3 {
    background-image: url("../img/img3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel4 {
    background-image: url("../img/img4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel5 {
    background-image: url("../img/img5.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel6 {
    background-image: url("../img/img6.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel7 {
    background-image: url("../img/img7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel8 {
    background-image: url("../img/img8.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel9 {
    background-image: url("../img/img9.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel10 {
    background-image: url("../img/img10.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

#screenTitle {
    padding-inline: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 90%;
    text-shadow: black 4px 0 10px;
}

.date {
    padding-top: 1em;
    flex-direction: column;
    display: flex;
    line-height: 10%;
    align-items: end;
    justify-content: end;
}

/* Remote control device */
#remote {
    width: 10em;
    height: 36em;
    margin-left: 10em;
    margin-right: 5em;

    border-radius: 10em;
    background-color: black;
    background: linear-gradient(black,
            black,
            rgb(45, 45, 45),
            rgb(45, 45, 45),
            rgb(45, 45, 45),
            rgb(31, 31, 31),
            black,
            black);
}

#buttonsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 8em;
    width: 10em;

    border-radius: 10em;
    padding-top: 2.5em;
    border-radius: 90em;
}

.circleButtons {
    background-color: red;
    height: 3.2em;
    width: 3.2em;
    border-radius: 50%;
    margin: 0.5em;

    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circleButtons:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.concave:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.numbers:hover {
    transition: 0.2s;
    opacity: 0.5;
}

#power {
    background-color: brown;
}

#buttonsCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 8em;
    width: 10em;
}

.volume {
    font-size: 1em;
    font-weight: bolder;
}

.channel {
    font-size: 1em;
    font-weight: bolder;
}

.concave {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 3.2em;
    width: 3.2em;
    margin-top: 0.4em;
    margin-top: .4em;
    margin-inline: .4em;
    font-size: 1.15em;
    background-color: gray;

    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.down {
    border-radius: 0em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#buttonsBottom {
    margin: 2.5em 1em 1em 1em;
    width: 8em;
    height: 9em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.numbers {
    height: 2em;
    width: 2em;
    border-radius: 1em;

    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

/* Remote control device  */
/* Screen color on tv power off */

.powerOff {
    background: black;
}

/* Volume level message */
#volumeIcon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: chartreuse;
    transition: 0.2s;
    font-size: 130%;
    padding-right: 2em;
    text-shadow: black 4px 0 10px;
}

#channelInfo {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: chartreuse;
    transition: 0.2s;
    font-size: 130%;
    padding-right: 2em;
    text-shadow: black 4px 0 10px;
}